
/* Tag styling */

html, *::before, *::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  border: none;
  margin: none;
  background-color: aqua;
}

header {
  text-align: center;
}


/* Class styling */

.heart {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 2rem 4rem;
  position: relative;
  top:0;
  background: red;
  vertical-align: middle;
  animation: pulse 1s ease infinite;
}

.heart::before, .heart::after {
  content: "";
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}

.heart::before {
  top:-1.5rem;
  left:0;
}

.heart::after {
  top:0;
  left:1.5rem;
}

.submitButton {
  width: 40%;
  border-radius: 1.5rem;
  background: red;
  color: white;
  padding: 0.5rem;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  text-align: center;
  float: right;
}

.submitButton:hover {
  border-color:cornflowerblue ;
  background: white;
  color: red;
  box-shadow: 0.3rem 0.3rem 0.5rem 0.3rem red;
}


.event {
  background-color: chartreuse;
  text-align: center;
  width: 70vw;
  margin: 1rem auto;
  padding: 0.3rem;
}

.eventName {
  font-size: 1.5rem;
  color: blue;
  margin: 0;
}

.eventTimeContainer {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.eventTime {
  background-color: white;
  color: red;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid black;
  width: 4rem;
  height: 4rem;
}

.eventTimeContent {
  padding: 0.3rem;
  margin: 0 auto;
  width: 80%;
  background-color: black;
  color: white;
  overflow: hidden;
}

.eventTimetext {
  font-weight: bold;
}

@keyframes pulse {
  0% {transform: scale(1) rotate(-45deg);}
  50% {transform: scale(1.3) rotate(-45deg);}
  100% {transform: scale(1) rotate(-45deg);}
}


/* ID styles */

#eventForm  {
  width: 60vw;
  margin: 1rem auto;
  line-height: 1.5;
}
.formInputLabelCon {
  margin-top: .5rem;
}
.formInputLabelCon input {
  width: 70%;
  overflow: auto;
  line-height: 1.5;
  margin-top: .5rem;

}

.formInputLabelCon label {
  display: inline-block;
  width: 12rem;
  text-align: left;
  font-weight: 700;
  vertical-align: middle;
}

.hideFormm {
  padding: .3rem;
  text-align: center;
  clear: both;
  margin-top: 15rem;
  /* margin: 15rem; */
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}